@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Prata&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
*{
    font-family:'Rethink Sans', sans-serif;
}

button{
@apply cursor-pointer;
}
.no-scrollbar::-webkit-scrollbar{
    display: none;
}

.cl-drawerRoot{
    z-index: 1000;
}